
html, body {
    margin: 0;
    height: 100%;
}

body{
    background-color:#fefeff;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    text-align: left;
}

.site.header{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align:center;
    /* border-top: 1px solid #999999; */
    border-bottom: 1px solid #999999;
}

.site.header a{
    color: #333333;
}

a:hover{
    text-decoration:none;
    color: #777777;
}

.site.header p{
    color: #555555;
}

#navbarNavDropdown{
    text-align:center;
}

#prehead {
    background-image: url(https://miro.medium.com/max/6016/1*g7fENKsVOTTfmFVu48I09Q.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: fit-content;
    border-top: 2vh solid #fefeff;
    border-radius: 3rem;
    text-align:center;
    overflow:auto;
    padding:2rem;
    border-right: 2vw solid #fefeff;
    border-left: 2vw solid #fefeff;
    
}

.alert{
    border-radius:25px;
}

.container-fluid{
    height: fit-content;
    background-color: #d6efff;
    border-radius:25px;
}

header h1{
    vertical-align: middle;
    color:#fefeff;
    font-weight: bolder;
}

/* #name h1{
    white-space:nowrap;
    padding-left:.5rem;
    padding-right:.5rem;
    
    width:-moz-fit-content;
} */

#bio p{
    color:#fefeff;
    /* text-align:left; */
}

.nav-item{
    padding:0px 20px 0px 20px;
}

.dropdown-menu.show a img{
    margin-right:10px;
}

.dropdown-menu.show{
    max-
    width:-moz-fit-content;
}

/* .container2{
    margin-top:40px;
    text-align:center;
    vertical-align:middle;
    margin-bottom: 40px;
    padding: 0px 60px 0px 60px;
}

.container2 .col-sm{
    margin: 0px 20px 0px 20px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding:10px;
}

#head .col-sm{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #999999;
    font-size: large;
}

#item .col-sm{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid #999999;
    text-align:left;
}

.nest{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 1px solid #999999;
    font-size: large;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    padding: 10px 15px 10px 15px !important;
    width:100%;
} */

.card1, .card2, .card3{
    display:inline-block;
    border-radius: 15px;
    margin: 20px;
    vertical-align:top;
    width: 25rem;
}

#test2{
    text-align:center;
}

.card-header{
    border-top-left-radius: inherit!important;
    border-top-right-radius: 15px!important;
}

.card-main{
    border:1px solid #999;
    border-top:none;
}

.grow, h5 { transition: all .2s ease-in-out; }
.grow:hover, h5:hover { transform: scale(1.1); }

::selection {
    background: #adbbc9; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #adbbc9; /* Gecko Browsers */
}

h5{
    font-size:large;
}
.container1{
    margin-left:80px;
    margin-right: 60px;
    margin-bottom:60px;
}

.container1 h2{
    width:fit-content;
    width:-moz-fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:20px;
    border-bottom: 2px solid #999999;
}

.txt_body p{
    /* border-left: 15px solid #c9c9c9;
    padding-left:20px;*/
    margin-top:20px; 
    
    width:-moz-fit-content;
    margin-left: auto;
    margin-right: auto;
}

a{
    color:#5b7894;
}

.btn.btn-dark{
    background-color:#5b7894;
    border:none;
}

.sub_body, .sub_title{
    margin:auto;
    text-align:center;
}

 h5{
    color: #555555;
}

.sub_body p{
    margin-top:10px;
}

.body_foot{
    text-align:center;
    padding-top: 40px;
    padding-bottom:40px;
    /* border-top:2px solid #c9c9c9; */
    background-color: #343a40;
    color:white; 
    vertical-align:middle;
    width:100%;
}

img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.txt_body{
    text-align:center;
}

.card1 .list-group-item, .card2 .list-group-item{
    border:none;
    margin-top:10px;
}
.card1 ul, .card2 ul{
    margin-bottom:15px;
}
.page.break{
    height:20%;
    width:auto;
    background-color: #c9c9c9;
    border:none;
}
/* .hrdiv{
    width:300px;

} */
@media only screen and (max-width: 992px){
    img {
        -webkit-filter: grayscale(0);
        filter: none;
    }

    .card1, .card2, .card3{
        width:auto;
    }
    .container1{
        margin-left:7%;
        margin-right:7%;
    }
    .nav-item.dropdown{
       text-align: center;
       vertical-align: middle;
       margin:auto;
    }
}